<!doctype html>
<html lang="en">

<head>
    <title>Signature Creator</title>
</head>

<body>
    <form method="post" action="/signature/creator">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Name" value="{{ request.name }}">
        </div>
        <div>
            <label for="title">Title:</label>
        <select name="title">
            <option {% if request.title == "Junior Software Engineer" %} selected {% endif %}>Junior Software Engineer</option>
            <option {% if request.title == "Apprentice Engineer" %} selected {% endif %}>Apprentice Engineer</option>
            <option {% if request.title == "CEO" %} selected {% endif %}>CEO</option>
            <option {% if request.title == "CTO" %} selected {% endif %}>CTO</option>
            <option {% if request.title == "Accounts & Administration" %} selected {% endif %}>Accounts & Administration</option>
            <option {% if request.title == "Project Co-ordinator" %} selected {% endif %}>Project Co-ordinator</option>
            <option {% if request.title == "UX & Design Lead" %} selected {% endif %}>UX & Design Lead</option>
            <option {% if request.title == "Junior UX Designer" %} selected {% endif %}>Junior UX Designer</option>
            <option {% if request.title == "Test Automation Engineer" %} selected {% endif %}>Test Automation Engineer</option>
            <option {% if request.title == "Project Lead<" %} selected {% endif %}>Project Lead</option>
            <option {% if request.title == "Brand Manager" %} selected {% endif %}>Brand Manager</option>
            <option {% if request.title == "Software Engineer" %} selected {% endif %}>Software Engineer</option>
            <option {% if request.title == "Senior Software Engineer" %} selected {% endif %}>Senior Software Engineer</option>
        </select>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Email Address" value="{{ request.email }}">
        </div>
        <div>
            <label for="mobile">Mobile:</label>
            <input type="text" id="mobile" name="mobile" placeholder="mobile" value="{{ request.mobile }}">
        </div>
        <textarea name="additional_html">{{ request.additional_html | raw }}</textarea>
        <input type="hidden" name="formToken" value="{{ formToken }}">
        <button>Generate</button>
    </form>
    <div id="preview">
    {{ signature | raw }}
    </div>
    <textarea id="signature">{{ signature }}</textarea>
</body>

</html>